@import url("styles/header.css");
@import url("styles/main.css");
@import url("styles/footer.css");
@import url("styles/responsive.css");

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --button-color: #00C49A;
    --font-nav1: #D7ECD8;
    --font-nav2: #55828B;
    --background: #0E6365;
    --white: #FFFFFF;
}

body {
    height: 100%;
    font-size: 100%;
    font-family: 'inter';
    color: var(--white);
    font-weight: 500;
    list-style-type: none;
    overflow-x: hidden;
}

h3 {
    font-size: 64px;
    font-weight: 800;
    color: black;
    display: inline;
    padding-top: 19px 0;
}