.rodape{
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 39px 79px 39px 79px;
}

.rodape-participations{
    display: flex;
    width: auto;
}

.rodape-realizacao{
    width: 275px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.realizacao-paragraph{
    font-size: 1.375em;
    font-weight: 900;
    font-size: 26px;
    padding: 12px 0 28px 0;
}

.contatos-footer{
    display: flex;
    flex-direction: column;
}

.contatos-title{
    font-size: 2em;
    font-weight: bold;
    padding: 0 0 8px 0;
}

.contatos-media{
    display: flex;
    align-items: center;
    color: black;
    transition: .5s;
}

.contatos-media:nth-child(3){
    padding: 9px 0 9px 0;
}

.contatos-media img{
    padding: 0 10px 0 0 ;
}

.contatos-media:hover{
    color: blue;
    text-decoration: underline;
}

.contatos-paragraph{
    font-weight: 500;
    padding: 21px 0 0 0;
}

