.logo{
    width: 91px;
    height: 90px;
}

.cabecalho{
    background: rgb(14,99,101);
    background: linear-gradient(90deg, rgba(14,99,101,1) 50%, rgba(255,255,255,1) 50%);
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hamburguer-bt{
    display: none;
}

.burguer-nav-bar{
    display: none;
}

.nav-bar{
    display: flex;
    justify-content: center;
}

.nav-bar-itens{
    display: flex;
    list-style: none;
    font-size: 22px;
}

.nav-bar-item{
    margin-left: 1.5em;
    color: var(--font-nav1);
    transition: .3s;
}
.nav-bar-item:nth-child(3n){
    color: var(--font-nav2);
}

.nav-bar-item:hover{
    color: var(--button-color);
    font-weight: bold;
}

.bar-burguer-menu{
    display: block;
}

.contact{
    background-color: var(--button-color);
    color: var(--white);
    padding: 0.3em 1.3em;
    border-radius: 1.5em;
    transition: .3s;
}
.contact:hover{
    transform: scale(105%);
}

.formButtonn{
    border: 2px solid green;
    padding: 12px 24px;
    color: green;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    display: inline-block;
}

.formButtonn:hover{
    background-color: green;
    color: white;
}