.land-pg{
    position: relative;
    background: linear-gradient(90deg, rgba(14,99,101,1) 50%, rgba(255,255,255,1) 50%);
    height: 85vh;
    max-height: 85vh;
    display: flex;
    justify-content: center;
}

.land-pg-test{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 748px;
    margin: 175px 175px 0 0;  
}

.land-pg-titulo{
    font-size: 4em;
    font-weight: 800;
}

.land-pg-subtitulo{
    font-size: 3em;
    font-weight: normal;
}

.land-pg-paragraph{
    font-size: 2em;
    font-weight: bold;
    padding: 32px 0 66px 0;
}

.land-pg-btn{
    display: flex;
    width: 236px;
    background-color: var(--button-color);
    justify-content: center;
    text-decoration: none;
    color: var(--white);
    border-radius: 5px;
    transition: .5s;
}

.land-pg-btn:hover{
    transform: scale(101%);
}

.land-pg-btn .btn-primario{
    position: relative;
    font-size: 1.5em;
    padding: 30px 0;
}

.side-vector{
    position: relative;
}

.side-vector::after{
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    border-radius: 0 5px 0 0;
    bottom: 40px;
    left: 148px;
}

.side-vector::before{
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    border-radius: 0 0 0 5px;
    top: 40px;
    right: 49px;
}


.about-us{
    padding: 39px 0 39px 0;
    background-color: rgb(14,99,101);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.about-us-title{
    font-size: 3em;
}

.about-us-div{
    background-color: var(--white);
    width: 100px;
    height: 2px;
    margin: 38px 0 38px 0;
}

.about-us-paragraph{
    font-size: 1.625em;
    font-weight: normal;
    width: 59vw
}

.about-smart{
    text-align: center;
    justify-content: center;
    padding: 1.1875em 0 1.1875em  0;
}

.about-smart-paragraph{
    margin: 0 auto;
    color: black;
    width: 59vw;
    font-size: 1.375em;
    padding-top: 19px;
}

.about-smart-img-bottom{
    padding: 60px 0;
    background-color: var(--background);
    display: flex;
    justify-content: center;
    text-align: center;
}

.about-smart-newslletter{
    color: #000000;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 25px;
}


.form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-group{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 100px 360px;
}

.lbl-input{
    color: black;
    margin-bottom: 10px;
}

.input-xls{
    width: 95%;
    height: 48px;
    border-radius: 8px;
    border: 2px solid #D0D5DD;
    margin-bottom: 10px;
    padding-left: 16px;
    color: black;
    font-size: 16px;
}

.input-xls::placeholder{
    color: #667085;
    font-size: 16px;
}

.submit-button{
    width: 116px;
    height: 48px;
    align-items: center;
    text-align: center;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    background-color: var(--button-color);
    border-radius: 8px;
}

.swiper {
    margin-top: 22px;
    width: auto;
    padding: 50px 0 50px 0;
  }

  .mySwiper{
    height: 91%;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    
  }

  .swiper-slide img {
    display: block;
    width: 91%;
    border-radius: 10px;
  }

  .swiper-button-prev,.swiper-button-next{
    transition: .5s;
  }

  .swiper-button-prev::after{
    color: white;
  }
  .swiper-button-next::after{
    color: white;
  }

  .swiper-button-prev:hover, .swiper-button-next:hover{
    transform: scale(120%);
  }
